.data-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;

  &.status-1 {
    background: #c8e6c9;
    color: #256029;
  }

  &.status-0 {
    background: #ffcdd2;
    color: #c63737;
  }

  &.status-true {
    background: #c8e6c9;
    color: #256029;
  }

  &.status-false {
    background: #ffcdd2;
    color: #c63737;
  }

  &.status-success {
    background: #689f38;
    color: #ffffff;
  }

  &.status-danger {
    background: #ffcdd2;
    color: #c63737;
  }

  &.status-secondary {
    background: #607d8b;
    color: #ffffff;
  }
}

.p-scrollpanel {
  p {
    padding: 0.5rem;
    line-height: 1.5;
    margin: 0;
  }

  &.custombar {
    .p-scrollpanel-wrapper {
      border-right: 9px solid var(--layer-1);
    }

    .p-scrollpanel-bar {
      background-color: var(--primary-color);
      opacity: 1;
      transition: background-color 0.2s;

      &:hover {
        background-color: #007ad9;
      }
    }
  }
}

.toolbar {
  background: transparent;
  border: none;
  padding: 0;
  border-radius: 0;
}

.p-chip {
  background-color: #dee2e6;
  color: #495057;
  border-radius: 16px;
  padding: 0 0.5rem;
}

:host ::ng-deep .p-chip.custom-chip {
  background: var(--primary-color);
  color: var(--primary-color-text);
}

.layout-sidebar {
  box-shadow: none;
}

.layout-footer {
  border-top: 0;
}

ngx-avatar {
  display: inline-block;
  cursor: pointer;
}

.layout-menu ul a.active-route {
  background-color: #e8f0fe;
  border-radius: 0 50px 50px 0;
}

.layout-sidebar-white .layout-sidebar .layout-menu li a.active-route {
  color: #1967d2;
}

.layout-menu ul a:hover {
  border-radius: 0 50px 50px 0;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.layout-content-wrapper {
  background-color: #ffffff;
}

.dialog-sm {
  width: 25vw;
}

.dialog-md {
  width: 50vw;
}

@media screen and (max-width: 40em) {
  .dialog-sm,
  .dialog-md {
    width: 95vw;
  }
}

.p-inputgroup-addon:first-child,
.p-inputgroup button:first-child,
.p-inputgroup input:first-child {
  border-radius: 0;
}
