<div class="p-fluid p-grid">
    <div class="p-col-12 p-col-sm-12 p-md-8 p-lg-8 p-xl-8 p-lg-offset-2 p-xl-offset-2 p-text-center">
        <p-card header="About Savan Resorts" styleClass="p-card-shadow">
            <p>
                Savan Resorts (SR) is a very unique resort with mixed architectural design inspired by Lane Xang and
                Southern Laos Kingdom, authentic Thai-Laos cuisine, wide range of exciting entertainment activities and
                impressive hospitality. Strategically located in Savannakhet (Laos), near Mukdahan province (Thailand).
                Free daily shuttle service provided from the Mukdahan Bus Terminal and border Welcome Center on regular
                basis. Travel time to Savan Resorts is approximately 15-30 minutes, including all immigration
                formalities at Thai-Laos border
            </p>
        </p-card>
    </div>
</div>