<div class="p-fluid p-grid">
    <div class="p-col-12">
        <p-dialog header="Contact Details" [(visible)]="showModal" [modal]="true" styleClass="dialog-md"
            [baseZIndex]="10000" [draggable]="false" [resizable]="false" (onShow)="onShowModal()"
            (onHide)="onHideModal()">
            <form [formGroup]="formGroup">
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="email">EMAIL</label>
                        <input id="email" type="text" formControlName="email" pInputText>
                    </div>
                    <div class="p-field">
                        <label for="tel">PHONE</label>
                        <input id="tel" type="text" formControlName="tel" pInputText>
                    </div>
                </div>
            </form>
            <ng-template pTemplate="footer">
                <p-button icon="pi pi-check" (click)="onSubmit()" label="UPDATE" styleClass="p-button-text"></p-button>
            </ng-template>
        </p-dialog>

    </div>
</div>